{% extends 'admin/admin.html.twig' %}

{% block title "Modification : " ~ article.section %}
{% block body %}
  <section class="p30 sections">
       {{ form_start(form) }}
        {{ form_widget(form) }}
        <div>
            <button type="button" class="btn btn-outline-secondary mr2" onclick="window.history.back();">Retour</button>
            <button type="submit" class="btn btn-primary">Modifier</button>
        </div>
    {{ form_end(form) }}
  </section>
{% endblock %}

