html {
  font-size: 10px;
}

/* Menu  */

nav {position: absolute; z-index: 1;width: 100%;}
.logo-nav {position:absolute; top:20px; font-family: 'Montserrat', Arial, sans-serif; width: 20%;color: #fff;font-weight: 300; font-size: 2rem;}

nav ul {border: 1px solid transparent; padding: 10px 40px; border-radius: 27px; background-color: rgba(180, 180, 180, 0.4); position:fixed;}
nav li {font-family: 'Roboto', sans-serif; font-size:1.7rem;}
nav ul a {color:#fff; transition: transform 0.3s ease, color 0.3s ease;}
nav ul li:hover {transform: scale(1.1);}

.home {
  position: relative;
  background-size: inherit;
  background-position: center;
  width: 100%;
}

.home-container-outer {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  width: 100%;
  max-width: 1300px;
  text-align: center;
  border: 2px solid #EFF0F4;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.home-container-inner
{
  margin-top: 90px;
  padding: 0 100px;
  gap: 15%;
}

.home-container-inner h2
{
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  color: #404040;
  text-transform: uppercase;
}

.entry-text p
{
  font-family: "Montserrat", Arial;
  font-size: 1.5rem;
  font-weight: 600;
  color: #404040;
  line-height: 26px;
}

.entry-text 
{
  text-align: justify;
}

.menu-item
{
  overflow: hidden;
  border-radius: 10px;
}

.menu-item img
{
  width: 300px;
  height: 450px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.menu-item a:hover img
{
  transform: scale(1.05); /* Zoom au survol */
}

.menu-section
{
  position: relative;
  z-index: 2;
}

.menu-container
{
  width: 90%;
}


.form-container p {
  font-family: "Noticia Text", serif;
  font-size: 1.2rem;
  color: #404040;
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 15px;
}

.form-group {
  flex: 1;
  text-align: left;
  max-width: 48%;
}

.form-group.textarea
{
  width: 100%;
  max-width: unset;
}

.form-label {
  font-weight: bold;
  font-size: 1rem;
  color: #404040;
  display: block;
  margin-bottom: 5px;
}

.success-message {
  background-color: #d4edda;
  color: #155724;
  padding: 15px 20px;
  margin-bottom: 20px;
  border: 1px solid #c3e6cb;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  animation: fadeInSlideDown 0.6s ease forwards;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.3rem;
  
}

.site-footer {
  color: #404040;
  text-align: center;
  padding: 50px 20px;
  font-family: "Noticia Text", serif;
  font-size: 1.2rem;
}
      
.site-footer a {
  color: #C19A6B;
  text-decoration: none;
  margin: 0 8px;
  transition: color 0.3s ease-in-out;
}

.site-footer a:hover {
  color: #A0785A;
}

.menu-text h3 {
  font-family: "Noticia Text", serif;
  font-weight: 400;
  font-size: 1.7rem;
  color: #404040;
  text-transform: uppercase;
}

.menu-text p {
  font-family: "Noticia Text", serif;
  font-size: 1.4rem;
  font-weight: 200;
  color: #404040;
  line-height: 26px;
  max-width: 300px;
}

.form-container
{
  background: #FAF7F2;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  margin-top: -150px;
  padding-top: 250px;
}

.form-wrapper {
  max-width: 900px;
  margin: 0 auto;
}

.form-left, .form-right {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-right {
  justify-content: end;
  gap: 20px;
}

.form-left h2 {
  text-align: left;
}

.form-control {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  font-family: "Noticia Text", serif;
}

.form-submit {
  text-align: center;
}

.submit-btn {
  background-color: transparent;
  color: #000;
  border: 1px solid #ccc;
  padding: 10px 25px;
  font-family: "Noticia Text", serif;
  font-size: 16px;
  border-radius: 5px;
  width: 100%;
  transition: all 0.3s ease;
  cursor: pointer;
}


.submit-btn:hover {
  background-color: #000;
  color: #fff;
  border-color: #000;
}


.accroche
{
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 7rem;
  line-height: 0.8;
  padding: 3rem;
  position: absolute;
  top: 25%;
  left: 3%;
  letter-spacing: 3px;
}

.titleSection
{
  display: flex;
  align-items: center;
  position: absolute;
  top: 23%;
  left:3%;
  width: 40%;
}

.title
{
  text-transform: uppercase;
  color: #fff;
  font-size: 2rem;
  font-weight: lighter;
}

.about-img div {
  width: 48%;
  max-height: 700px;
  overflow: hidden;
  object-fit: cover;
}

.about-img img {width: 100%;}

@media (max-width: 768px) {
  .form-wrapper {
    flex-direction: column;
    gap: 30px;
  }
}

@keyframes fadeInSlideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}